@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background-image: url('https://exch-s3-react-dev-002.s3.ap-southeast-1.amazonaws.com/icons/cityscape-with-boat-water-cityscape-background.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  /* backdrop-filter: blur(8px); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1369px;
}


input:focus-visible,
select:focus-visible,
button:focus-visible {
  outline: none;
}

.marquee-box {
  color: #fff;
  line-height: 25px;
  height: 25px;
  margin-bottom: 1px;
  background-repeat: repeat-x;
  background-image: linear-gradient(180deg, #2a3a43 27%, #1c282d 83%);
}

.marquee-box h4 {
  position: relative;
  flex-basis: 72px;
  justify-content: center;
  align-items: center;
}

.marquee-box h4:before {
  content: "";
  height: 17px;
  width: 17px;
  margin-right: 2px;
  background: url('https://exch-s3-react-dev-002.s3.ap-southeast-1.amazonaws.com/icons/icon-news.png') no-repeat;
}


.marquee-box h4:after {
  content: "";
  position: absolute;
  right: -7px;
  top: 0;
  z-index: 2;
  background-image: url('https://exch-s3-react-dev-002.s3.ap-southeast-1.amazonaws.com/icons/path_arrow_new.png');
  background-repeat: no-repeat;
  width: 7px;
  height: 25px;
}

.font-sans {
  font-family: unset
}

table thead tr th {
  color: #243a48;
  background-color: #e4e4e4;
  border: 1px solid #7e97a7;
  border-width: 1px 0 1px 0;
  padding: 5px 10px;
  font-weight: 900;
}

table tbody tr td {
  border-top: 1px solid #eee;
  background-color: #ffffff;
  padding: 8px 10px;
  vertical-align: middle;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid #6c7ac9;
  color: #6c7ac9; */
  padding: 4px 10px;
  vertical-align: middle;
  background-image: linear-gradient(180deg, #ffffff 0%, #eeeeee 89%);
  /* box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, .5); */
  border: 1px solid #bbb;
  margin-right: 5px;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #ffb600;
  background: #444;
  border: 1px solid #222;
  padding: 4px 10px;
  margin-right: 5px;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

.common-button {
  background-image: linear-gradient(180deg, #ffffff 0%, #eeeeee 89%);
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, .5);
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #1e1e1e;
  font-size: 12px;
  font-weight: 800;
}

.common-button:hover {
  text-decoration: none;
  background-image: linear-gradient(0deg, #ffffff 0%, #ececec 89%);
  box-shadow: inset 0 0px 0 0 rgba(255, 255, 255, .5);
}

.login-bg {
  background-image: url('https://exch-s3-react-dev-002.s3.ap-southeast-1.amazonaws.com/icons/bg-image.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.bg-color-absolute {
  z-index: 1;
  position: absolute;
  background-color: rgba(109, 8, 29, .3);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
}

.blured {
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.but_active,
.but_locked,
.but_suspend {
  width: 105px;
  /* height: 50px; */
  font-size: 15px;
  line-height: 15px;
  background-image: linear-gradient(-180deg, #fefefe 0%, #e0e0e0 100%);
  border: 1px solid #9d9d9d;
  border-radius: 8px;
  margin: 0 5px;
  padding: 8px 0;
  color: #508d0e;
  cursor: pointer;
}

.but_suspend {
  color: #e83523;
}

.but_locked {
  color: #708b9d;
}

.but_active:hover,
.but_locked:hover,
.but_suspend:hover {
  text-decoration: none;
  background-image: linear-gradient(-180deg, #e9e9e9 23%, #fefefe 100%);
}

.disabled_button {
  background: #fff !important;
  color: #b0b0b0;
  border: #ddd 1px solid !important;
  cursor: not-allowed;
}

.suspend_open {
  background-image: linear-gradient(-180deg, #db2828 0%, #921313 100%) !important;
  color: #fff;
}

.locked_open {
  background-image: linear-gradient(-180deg, #9ab6ce 0%, #536174 100%) !important;
  color: #fff;
}

.active_open {
  background-image: linear-gradient(-180deg, #8dd13b 3%, #4e7427 100%) !important;
  color: #fff;
}